<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Admin.jpg">
        <p>Profile: <a href="https://github.com/minghunt" target="_blank">My Github link</a></p>
    </div>
    
    {{>footer}}
</body>

</html>