<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website use api from: <a href="https://www.openstreetmap.org/" target="_blank">Open street map</a> to get address and 
        <a href="https://weatherstack.com/" target="_blank">WeatherStack</a> to get weather data</p>
        
        
    </div>
    
    {{>footer}}
</body>

</html>